<form action="/" method="POST">
    <p>Nome:</p>
    <input type="text" name="nome">
    <p>Email:</p>
    <input type="text" name="email">
    <p>Sugestão:</p>
    <input type="text" name="sugest_usr">
    <button type="submit">Cadastrar sugestão</button>
</form>