<head>
    <meta charset="UTF-8">
    <title>Egni | Hidrelétricas</title>
    <link rel="stylesheet" href="hidreletrica.css">
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
</head>

<nav class="nav">
    <a href="/"><img style="margin-top: -20px;" src="logo_nav_branco.webp" id="logo_site"></a>
    <ul class="nav__itens">
        <li class="nav__item">
             <a href="/" class="nav__link">Início</a>
        </li>
        <li class="nav__item">
            <a href="/hidreletricas" onclick="topicoRedirectHidro(event)" class="nav__link">Tópicos</a>
        </li>
        <li class="nav__item">
            <a href="/hidreletricas" onclick="sobreRedirectHidro(event)" class="nav__link">Sobre</a>
        </li>
        <li class="nav__item">
            <a href="/hidreletricas" onclick="contatoRedirectHidro(event)" id="contato" class="nav__link">Contato</a>
        </li>
        <li class="nav__item">
            <button class="nav__botao">
                <span class="material-symbols-outlined">search</span>
            </button>
        </li>
    </ul>
    <div class="nav__pesquisa">
        <form class="pesquisa">
            <input type="text" class="nav__barra-pesquisa" id="searchbar" onkeyup="search_topic()"/>
                
            <ol id='list'>
                <a href="/petroleo"><li class="topic">Petróleo</li></a>
                <a href="/energias_renovaveis"><li class="topic">Energias Renováveis</li></a>
                <a href="/hidreletricas"><li class="topic">Hidrelétrica</li></a>
                <a href="/termeletrica"><li class="topic">Termelétrica</li></a>
                <a href="/gas_natural"><li class="topic">Gás Natural</li></a>
                <a href="https://valor.globo.com/brasil/noticia/2022/10/11/epe-aumenta-projecao-de-pico-de-producao-de-petroleo-no-brasil.ghtml" target="_blank"><li class="topic">EPE aumenta projeção de pico de produção de petróleo no Brasil</li></a>
                <a href="https://g1.globo.com/ce/ceara/especial-publicitario/unifor/guia-de-profissoes/noticia/2022/11/01/o-futuro-da-energia-renovavel-ja-chegou.ghtml" target="_blank"><li class="topic">O futuro da energia renovável já chegou</li></a>
                <a href="https://g1.globo.com/mg/especial-publicitario/grupo-frg-midias-eventos/noticia/2022/11/01/congresso-de-geracao-distribuida-deve-movimentar-setor-de-energia-solar-no-brasil.ghtml" target="_blank"><li class="topic">Congresso de Geração Distribuída deve movimentar setor de energia solar no Brasil</li></a>
            </ol>
        </form>
    </div>
</nav>
<div class="hero">
    <h1 class="hero__titulo">Matrizes Energéticas Brasileiras</h1>
    <h2 class="hero__subtitulo">
        Produção, demanda, custo e consumo
    </h2>
</div>
<div class="conteudo reveal">
    <div class="intro">
        <h2 id="intro_titulo">A maior fonte de energia do Brasil</h2>
        <p id="intro_txt">Atualmente é a matriz elétrica que mais produz energia no país, suprindo o abastecimento de cerca de 68,4% da energia que abastece casas, indústrias, entre outros setores. Sempre foi um meio bastante utilizado, devido a ser uma matriz energética barata, limpa e com diversas disponibilidades devido a abundância de rios no território brasileiro.</p>
        <p id="intro_txt">Um componente muito importante das usinas são os reservatórios, que têm como finalidade acumular água em ocasiões de excesso para uso em períodos de escassez, sempre procurando suprir a demanda. O primeiro critério para definir o melhor custo benefício do tamanho do reservatório é comparar o valor de energia gerada da central hidrelétrica com os custos. As barragens de concreto que compõem os reservatórios auxiliam na geração de energia, aumentam a disponibilidade hídrica do local e amortecem as cheias evitando inundações. Para realizar a construção de uma barragem, é crucial avaliar o local do eixo do barramento. As partes que compõem a barragem de concreto são: as ombreiras direita e esquerda, o descarregador de cheias e o dispositivo de dissipação de energia.</p>
        <img id="barragem_img" src="barragem-de-gravidade-represas-de-gravidade-810x330_2x_compressed.webp">
        <p id="intro_txt">Outra estrutura que compõe a barragem de concreto é o descarregador de cheias, além de controlar as cheias, têm a função de restituir a jusante do barramento, às vazões não necessárias para a geração de energia e pode ser controlado por comportas. Essa estrutura tem como componentes a soleira livre e os sistemas de desvio.</p>
        <img id="cheia_img" src="33-0-_1_.webp">
        <p id="intro_txt">Depois de ver algumas estruturas que compõem uma hidrelétrica, vamos entender como é gerado energia nelas. Basicamente, a energia gerada a partir da força das águas que tocam uma turbina. Para a turbina girar, é preciso fazer com que um caudal de água circule por um circuito hidráulico que ultrapassa o desnível entre dois pontos, onde a água vai adquirindo velocidade à medida que sua energia potencial se transforma em energia cinética. O trabalho da turbina é transformar essa energia cinética em energia mecânica, para que o gerador se transforme em energia elétrica.</p>
    </div>
</div>
<div class="topicos reveal">
    <div class="topicos__texto">
        <h2 class="topicos__titulo">Tópicos</h2>
        <p class="topicos__paragrafo">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, ex. Dolor sit amet consectetur adipisicing elit.
        </p>
    </div>
    <div class="topicos__grade">
        <div class="topico topico--span-dois">
            <a href="/energias_renovaveis"><h3 class="topico__titulo">Energias Renováveis</h3></a>
        </div>
        <div class="topico">
            <a href="/gas_natural"><h3 class="topico__titulo">Gás Natural</h3></a>
        </div>
        <div class="topico">
            <a href="/hidreletricas"><h3 class="topico__titulo">Hidrelétrica</h3></a>
        </div>
        <div class="topico">
            <a href="/petroleo"><h3 class="topico__titulo">Petróleo</h3></a>
        </div>
        <div class="topico">
            <a href="/termeletrica"><h3 class="topico__titulo">Termelétrica</h3></a>
        </div>
    </div>
</div>
<div class="noticias reveal">
    <div class="noticia">
        <img
            class="noticia__imagem"
            src="noticia_1.webp"
            alt="Imagem de notícia"
        />
        <div class="noticia__informacoes">
            <a href="https://valor.globo.com/brasil/noticia/2022/10/11/epe-aumenta-projecao-de-pico-de-producao-de-petroleo-no-brasil.ghtml" target="_blank"><h3 class="noticia__titulo">EPE aumenta projeção de pico de produção de petróleo no Brasil</h3></a>
            <p class="noticia__data">Data: 11 de out. de 2022</p>
        </div>
    </div>
    <div class="noticia_2">
        <img
            class="noticia__imagem"
            src="noticia_2.webp"
            alt="Imagem de notícia"
        />
        <div class="noticia__informacoes">
            <a href="https://g1.globo.com/ce/ceara/especial-publicitario/unifor/guia-de-profissoes/noticia/2022/11/01/o-futuro-da-energia-renovavel-ja-chegou.ghtml" target="_blank"><h3 class="noticia__titulo">O futuro da energia renovável já chegou</h3></a>
            <p class="noticia__data">Data: 01 de nov. de 2022</p>
        </div>
    </div>
    <div class="noticia_3">
        <img
            class="noticia__imagem"
            src="noticia_3.webp"
            alt="Imagem de notícia"
        />
        <div class="noticia__informacoes">
            <a href="https://g1.globo.com/mg/especial-publicitario/grupo-frg-midias-eventos/noticia/2022/11/01/congresso-de-geracao-distribuida-deve-movimentar-setor-de-energia-solar-no-brasil.ghtml" target="_blank"><h3 class="noticia__titulo">Congresso de Geração Distribuída deve movimentar setor de energia solar no Brasil</h3></a>
            <p class="noticia__data">Data: 01 de nov. de 2022</p>
        </div>
    </div>
    <a href="https://www.google.com/search?q=Energia+no+Brasil&sxsrf=ALiCzsYsysPPWpCCMJ48h8_ZdPEvjBs5Pg:1667429085172&source=lnms&tbm=nws&sa=X&ved=2ahUKEwjr9LyyyZD7AhUeO7kGHVkXCYQQ_AUoAXoECAIQAw&biw=1366&bih=587&dpr=1" target="_blank" class="noticias__link"><span class="reveal">Ir para Notícias</span> <span>></span></a>
</div>
<div class="sobre reveal">
    <div class="sobre__texto">
        <h2 class="sobre__titulo">Sobre Nós</h2>
        <p class="sobre__paragrafo">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis officia alias
            mollitia rem dolores? Voluptatem recusandae totam amet voluptatibus iure
            praesentium facere quam maxime dolor. Quidem aspernatur assumenda provident
            excepturi.
        </p>
    </div>
    <img
        src="nasa-_SFJhRPzJHs-unsplash.webp"
        alt="Imagem (descricao aqui)"
        class="sobre__imagem"
    />
</div>
<footer class="rodape reveal">
    <ul class="rodape__coluna">

        <form id="formulario" name="sugest_form" action="/" method="post">
            <h3 class="rodape__subtitulo">Quer deixar alguma sugestão?</h3>
            <li class="rodape__item">
                <input id="nome_campo" required type="text" placeholder="Nome" name="nome"/>
            </li>
            <li class="rodape__item">
                <input id="email_campo" required type="text" placeholder="E-mail" name="email"/>
            </li>
            <li class="rodape__item">
                <input id="sugestao_campo" required type="text" placeholder="Seu comentário" name="sugest_usr"/>
            </li>
            <li class="rodape__item">
                <button type="submit" class="rodape__botao">Enviar</button>
            </li>
        </form>
    </ul>
    <p class="rodape__copyright">Projeto Integrador © Copyright 2022</p>
    <ul class="rodape__links">
        <h3 class="rodape__subtitulo">Projeto Integrador</h3>
        <li class="rodape__item">
            <a href="/" onclick="topicoRedirectHidro(event)" class="rodape__link">Tópicos</a>
        </li>
        <li class="rodape__item">
            <a href="/" onclick="noticiasRedirectHidro(event)" class="rodape__link">Notícias</a>
        </li>
        <li class="rodape__item">
            <a href="/" onclick="sobreRedirectHidro(event)" class="rodape__link">Sobre nós</a>
        </li>
    </ul>
</footer>
<script src="reveal.js"></script>
<script src="script.js"></script>
<script src="search.js"></script>
<script src="sendform.js"></script>
<script src="goToElement.js"></script>