<head>
    <meta charset="UTF-8">
    <title>Egni | Matrizes Energéticas Brasileiras</title>
    <link rel="stylesheet" href="style.css">
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
</head>

<nav class="nav">
    <a href="/"><img style="margin-top: -20px;" src="logo_nav_branco.webp" id="logo_site"></a>
    <ul class="nav__itens">
        <li class="nav__item">
             <a href="/" class="nav__link">Início</a>
        </li>
        <li class="nav__item">
            <a href="/" onclick="topicoRedirect(event)" class="nav__link">Tópicos</a>
        </li>
        <li class="nav__item">
            <a href="/" onclick="sobreRedirect(event)" class="nav__link">Sobre</a>
        </li>
        <li class="nav__item">
            <a href="/" onclick="contatoRedirect(event)" id="contato" class="nav__link">Contato</a>
        </li>
        <li class="nav__item">
            <button class="nav__botao">
                <span class="material-symbols-outlined">search</span>
            </button>
        </li>
    </ul>
    <div class="nav__pesquisa">
        <form class="pesquisa">
            <input type="text" class="nav__barra-pesquisa" id="searchbar" onkeyup="search_topic()"/>
                
            <ol id='list'>
                <a href="/petroleo"><li class="topic">Petróleo</li></a>
                <a href="/energias_renovaveis"><li class="topic">Energias Renováveis</li></a>
                <a href="/hidreletricas"><li class="topic">Hidrelétrica</li></a>
                <a href="/termeletrica"><li class="topic">Termelétrica</li></a>
                <a href="/gas_natural"><li class="topic">Gás Natural</li></a>
                <a href="https://valor.globo.com/brasil/noticia/2022/10/11/epe-aumenta-projecao-de-pico-de-producao-de-petroleo-no-brasil.ghtml" target="_blank"><li class="topic">EPE aumenta projeção de pico de produção de petróleo no Brasil</li></a>
                <a href="https://g1.globo.com/ce/ceara/especial-publicitario/unifor/guia-de-profissoes/noticia/2022/11/01/o-futuro-da-energia-renovavel-ja-chegou.ghtml" target="_blank"><li class="topic">O futuro da energia renovável já chegou</li></a>
                <a href="https://g1.globo.com/mg/especial-publicitario/grupo-frg-midias-eventos/noticia/2022/11/01/congresso-de-geracao-distribuida-deve-movimentar-setor-de-energia-solar-no-brasil.ghtml" target="_blank"><li class="topic">Congresso de Geração Distribuída deve movimentar setor de energia solar no Brasil</li></a>
            </ol>
        </form>
    </div>
</nav>
<div class="hero">
    <h1 class="hero__titulo">Matrizes Energéticas Brasileiras</h1>
    <h2 class="hero__subtitulo">
        Produção, demanda, custo e consumo
    </h2>
</div>
<div class="conteudo reveal">
    <div class="intro">
        <h2 id="intro_titulo">
            O que são matrizes energéticas?
        </h2>
        <p id="intro_txt">
            Uma matriz energética é toda a energia disponibilizada para ser transformada, distribuída e consumida nos processos produtivos. É a quantidade de recursos energéticos oferecidos por um país ou por uma região. O estudo das matrizes energéticas se mostra cada vez mais importante para a melhoria econômica e social do Brasil no futuro. Porém, as matrizes energéticas não existiriam se não fossem as fontes de energia. Fontes de energia são recursos naturais ou artificiais usados na produção de energia, utilizada para veículos, geração de calor, eletrodomésticos, e outros diversos fins. São separadas em fontes de <b>energia renováveis</b> e <b>não-renováveis</b>.  
        </p>
        <p id="intro_txt2">As <b>fontes renováveis</b>, como o próprio nome diz, podem ser repostas e reutilizadas naturalmente, porém isso não significa que elas são inesgotáveis. Alguns exemplos são as energias vindas de ventiladores eólicos, que utilizam a força dos ventos para a produção de energia; as hidrelétricas, que gera energia através de fluxos de água, e é a mais utilizada no Brasil; a famosa energia solar, que obtém energia do sol através de placas com células fotovoltaicas.</p>
        <p id="intro_txt3">E temos as <b>fontes não-renováveis</b>, que são as que quando as reservas esgotam, não podem ser regeneradas no nosso tempo de vida, e também são as mais poluentes. Entre elas, podemos principalmente destacar os combustíveis fósseis. Eles são obtidos através de processos naturais, como a decomposição de organismos soterrados, e possuem uma alta quantidade de carbono que é usado para alimentar a combustão, como por exemplo o petróleo, o gás natural, o carvão mineral, entre outros.</p>
        <img id="rn_grafico" src="Infográfico-energias-renováveis-e-não-renováveis_compressed.webp">
        
        <h2 id="producao_titulo">Produção e consumo de energia no Brasil</h2>
        <p id="producao_txt">A demanda energética de um país está fortemente relacionada à sua capacidade econômica, ou seja, quanto mais robusta for sua economia, maior será a necessidade de produção de energia. Isso ocorre por alguns fatores como: o aumento da população, ascensão econômica de pessoas de classes baixas, aumento da produção industrial, temperatura e umidade, a “eletrificação” de diversos fatores do dia-a-dia. O Brasil é exemplo da evolução das fontes energéticas. Em 1970, duas fontes de energia correspondiam a 78% do consumo, sendo elas petróleo e lenha. Em 2000 eram três fontes de energia, que correspondiam a 74% do consumo, sendo elas o petróleo, a lenha e a hidráulica. Previsões apontam que para 2030, necessitamos de mais fontes energéticas além do petróleo, da hidráulica, da cana de açúcar e do gás natural.</p>
        <div class="producao_txt2">
            <h3 id="producao_titulo2">Produção</h3>
            <p id="producao_txt2_cont">Sobre a produção energética no Brasil, tem um bom desempenho no que chamamos de energia “limpa”, que pouco agridem o meio ambiente, e que também são muito importantes hoje em dia devido aos fortes apelos à sustentabilidade.</p>
        </div>
        <div class="producao_txt3">
            <h3 id="producao_titulo3">Consumo</h3>
            <p id="producao_txt3_cont">O consumo de energia elétrica no Brasil somou 474.231 GWh em 2020. O volume corresponde a uma queda de 1,6% na comparação com o consumo de energia em 2019, ou também, cerca de 1224 toneladas equivalentes de petróleo por habitante.</p>
        </div>
    </div>
</div>
<div class="topicos reveal">
    <div class="topicos__texto">
        <h2 class="topicos__titulo">Tópicos</h2>
        <p class="topicos__paragrafo">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, ex. Dolor sit amet consectetur adipisicing elit.
        </p>
    </div>
    <div class="topicos__grade">
        <div class="topico topico--span-dois">
            <a href="/energias_renovaveis"><h3 class="topico__titulo">Energias Renováveis</h3></a>
        </div>
        <div class="topico">
            <a href="/gas_natural"><h3 class="topico__titulo">Gás Natural</h3></a>
        </div>
        <div class="topico">
            <a href="/hidreletricas"><h3 class="topico__titulo">Hidrelétrica</h3></a>
        </div>
        <div class="topico">
            <a href="/petroleo"><h3 class="topico__titulo">Petróleo</h3></a>
        </div>
        <div class="topico">
            <a href="/termeletrica"><h3 class="topico__titulo">Termelétrica</h3></a>
        </div>
    </div>
</div>
<div class="noticias reveal">
    <div class="noticia">
        <img
            class="noticia__imagem"
            src="noticia_1.webp"
            alt="Imagem de notícia"
        />
        <div class="noticia__informacoes">
            <a href="https://valor.globo.com/brasil/noticia/2022/10/11/epe-aumenta-projecao-de-pico-de-producao-de-petroleo-no-brasil.ghtml" target="_blank"><h3 class="noticia__titulo">EPE aumenta projeção de pico de produção de petróleo no Brasil</h3></a>
            <p class="noticia__data">Data: 11 de out. de 2022</p>
        </div>
    </div>
    <div class="noticia_2">
        <img
            class="noticia__imagem"
            src="noticia_2.webp"
            alt="Imagem de notícia"
        />
        <div class="noticia__informacoes">
            <a href="https://g1.globo.com/ce/ceara/especial-publicitario/unifor/guia-de-profissoes/noticia/2022/11/01/o-futuro-da-energia-renovavel-ja-chegou.ghtml" target="_blank"><h3 class="noticia__titulo">O futuro da energia renovável já chegou</h3></a>
            <p class="noticia__data">Data: 01 de nov. de 2022</p>
        </div>
    </div>
    <div class="noticia_3">
        <img
            class="noticia__imagem"
            src="noticia_3.webp"
            alt="Imagem de notícia"
        />
        <div class="noticia__informacoes">
            <a href="https://g1.globo.com/mg/especial-publicitario/grupo-frg-midias-eventos/noticia/2022/11/01/congresso-de-geracao-distribuida-deve-movimentar-setor-de-energia-solar-no-brasil.ghtml" target="_blank"><h3 class="noticia__titulo">Congresso de Geração Distribuída deve movimentar setor de energia solar no Brasil</h3></a>
            <p class="noticia__data">Data: 01 de nov. de 2022</p>
        </div>
    </div>
    <a href="https://www.google.com/search?q=Energia+no+Brasil&sxsrf=ALiCzsYsysPPWpCCMJ48h8_ZdPEvjBs5Pg:1667429085172&source=lnms&tbm=nws&sa=X&ved=2ahUKEwjr9LyyyZD7AhUeO7kGHVkXCYQQ_AUoAXoECAIQAw&biw=1366&bih=587&dpr=1" target="_blank" class="noticias__link"><span class="reveal">Ir para Notícias</span> <span>></span></a>
</div>
<div class="sobre">
    <div class="sobre__texto">
        <h2 class="sobre__titulo reveal">Sobre Nós</h2>
        <p class="sobre__paragrafo reveal">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis officia alias
            mollitia rem dolores? Voluptatem recusandae totam amet voluptatibus iure
            praesentium facere quam maxime dolor. Quidem aspernatur assumenda provident
            excepturi.
        </p>
    </div>
    <img
        src="nasa-_SFJhRPzJHs-unsplash.webp"
        alt="Imagem (descricao aqui)"
        class="sobre__imagem reveal"
    />
</div>
<footer class="rodape reveal">
    <ul class="rodape__coluna">

        <form id="formulario" name="sugest_form" action="/" method="post">
            <h3 class="rodape__subtitulo">Quer deixar alguma sugestão?</h3>
            <li class="rodape__item">
                <input id="nome_campo" required type="text" placeholder="Nome" name="nome"/>
            </li>
            <li class="rodape__item">
                <input id="email_campo" required type="text" placeholder="E-mail" name="email"/>
            </li>
            <li class="rodape__item">
                <input id="sugestao_campo" required type="text" placeholder="Seu comentário" name="sugest_usr"/>
            </li>
            <li class="rodape__item">
                <button type="submit" class="rodape__botao">Enviar</button>
            </li>
        </form>
    </ul>
    <p class="rodape__copyright">Projeto Integrador © Copyright 2022</p>
    <ul class="rodape__links">
        <h3 class="rodape__subtitulo">Projeto Integrador</h3>
        <li class="rodape__item">
            <a href="/" onclick="topicoRedirect(event)" class="rodape__link">Tópicos</a>
        </li>
        <li class="rodape__item">
            <a href="/" onclick="noticiasRedirect(event)" class="rodape__link">Notícias</a>
        </li>
        <li class="rodape__item">
            <a href="/" onclick="sobreRedirect(event)" class="rodape__link">Sobre nós</a>
        </li>
    </ul>
</footer>
<script src="reveal.js"></script>
<script src="script.js"></script>
<script src="search.js"></script>
<script src="sendform.js"></script>
<script src="goToElement.js"></script>